# Environment
env

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.depricate.*

# Distribution / packaging
dist/
*.egg-info/

# Jupyper Notebook
.ipynb_checkpoints

# VS Code
.vscode

# Datasets
data/MNIST/
data/CIFAR10/
data/FashionMNIST/
data/ImageNet/
data/data_dicom/
data/dogs-vs-cats/

# output models
saved_models/

# tensorboard 
runs/

# incomplete directories
mnist_3D
learn
temp
cheat_sheet